<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Speaking space</title>
		<link rel="stylesheet" href="style.css" />
		<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
		<script>
			var ROOM_TO_JOIN = '<%= room %>'
			var SERVER_HTTP_URL = '<%= serverHttpUrl %>'
		</script>
	</head>
	<body>
		<div class="header">
			<div class="logo">
			  <h3>Video Chat</h2>
			</div>
		</div>  
		<div class="main">
			<div class="main__middle">
				<form style="padding-right: 10px;">
					<label for="fname">User name:</label><br>
					<select id="fname" style="height: 25px; width: 150px;">
						<option>roman</option>
						<option>roman2</option>
						<option>roman3</option>
					</select>
					<button type="button" id="createButton" onclick="createRoomRedirect()" class="lobby__button" style="width: 150px;">Create a room</button>
				</form>
				<form>
					<label for="froom">Room link:</label><br>
					<input type="text" id="froom" name="froom" style="height: 20px;" required><br>
					<button type="button" id="joinButton" onclick="joinRoom()" class="lobby__button" style="width: 150px;">Join the room</button>
				</form>
			</div>
		</div>  
	</body>
	<script>
		if (ROOM_TO_JOIN) {
			froom.value = ROOM_TO_JOIN
		}

		var tokens = []
		tokens["roman"] = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI4QkIwWXZNa243VTlPaGNUdlJNV0UyNDI4RmlrOHRKMklLTDVETEFoM20wIn0.eyJleHAiOjE2NDM0NzA5NjIsImlhdCI6MTY0MzM2Mjk2MiwianRpIjoiNGIwNDAwMjAtYTliZS00MDkxLWFlY2QtYTRkOTIxMjAxZmE2IiwiaXNzIjoiaHR0cHM6Ly9zcGVha2luZ3NwYWNlLm9ubGluZS9hdXRoL3JlYWxtcy9WaWRlb0NoYXRSZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiJhYmQ2YWY0OS1lZDg1LTRjZjctYTliNy1jN2RiYmI3MTQ2MTIiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJjaGF0LWxvZ2luIiwic2Vzc2lvbl9zdGF0ZSI6IjYzYzIzNzY4LTFiNGEtNDdlMC1iODAxLTc4MDhkYzNjY2NlOCIsImFjciI6IjEiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsInVzZXIiLCJkZWZhdWx0LXJvbGVzLXZpZGVvY2hhdHJlYWxtIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiNjNjMjM3NjgtMWI0YS00N2UwLWI4MDEtNzgwOGRjM2NjY2U4IiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJyb21hbiJ9.LPnPK0howtjx1j04QLySXRpEkV7YL9wFefGhF8fcBxp-sftzlDz4lLRYKmdE5NzVBgPRTQWpwcbH7P_3fxkeB_kwu_LhZNXIfP0U4Stio-IuzkkzlQKGls_1fs8dwp2eIMDGMD2M-KW2LUU8JNoHrkwTaR7feEXOdOnwL2hzYn8AhFPJm2eXe81rrQBa7UfprTxU1KgArPYdDLSLdfPAvxY6Q8QSs-9n8dQfBi6pzF6tZrxSo9nA9FtYdiYIPFkIhrfORWdj27HR6i2xHC0mPNxic3th0AJm5fySrk7pE9o8qRczw6Nm4PacEtimT5XjyjJpYAcZm3XDgCa6RPGYbg'
		tokens["roman2"] = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI4QkIwWXZNa243VTlPaGNUdlJNV0UyNDI4RmlrOHRKMklLTDVETEFoM20wIn0.eyJleHAiOjE2NDM0NzA5ODIsImlhdCI6MTY0MzM2Mjk4MiwianRpIjoiMGVlM2ZlMDUtNTNjMC00MmI1LTkwZmQtZjRhNTdkMTIyNGMzIiwiaXNzIjoiaHR0cHM6Ly9zcGVha2luZ3NwYWNlLm9ubGluZS9hdXRoL3JlYWxtcy9WaWRlb0NoYXRSZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiI2NDdjOGU3Ny03MzViLTQxYmItYjUxNi1lOGYwYWY3NDQyMTYiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJjaGF0LWxvZ2luIiwic2Vzc2lvbl9zdGF0ZSI6IjdiNjEwNjNmLTJlODAtNDUwNy04ZGU3LTYxOWFlMDY2ZmRhOCIsImFjciI6IjEiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsInVzZXIiLCJkZWZhdWx0LXJvbGVzLXZpZGVvY2hhdHJlYWxtIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiN2I2MTA2M2YtMmU4MC00NTA3LThkZTctNjE5YWUwNjZmZGE4IiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJyb21hbjIifQ.exS2G9-nkH11zNqI8_pfn70xAs2rr2lmRRL6n7ssl9WphwCZgE5Wdgv83KpxeMTiPmI2vFHsArsKJ1Iebl1fzJsw7jrWSeOPk5kQFLWTdqWck-aYmgRSWgW6xLtTQz9MLfmX9fqU6t1SVvUiS3ZBNq5t2Y3_0PxoMDrIo1u8bB7KYv3HzhRgzboIGcdghcxb3BO0V0gP9hji6I2BoCv0LZ5qByYTUrwZWWe-d3Cxn1DCNajsp5qGj5VyW9rLVCqIxY62XA_a378IJhgZo1diXQ-Uj39c9MnnGoILn2a63yj4wBB7In2LPBEpyDV_C8nZV0a1RtU7wogq6k1_wGdWYA'
		tokens["roman3"] = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI4QkIwWXZNa243VTlPaGNUdlJNV0UyNDI4RmlrOHRKMklLTDVETEFoM20wIn0.eyJleHAiOjE2NDM0NzA5OTgsImlhdCI6MTY0MzM2Mjk5OCwianRpIjoiZDMyNmE5YmMtNGI2Mi00NjUwLWE2NzItNTZiYjUzOWYyMWIzIiwiaXNzIjoiaHR0cHM6Ly9zcGVha2luZ3NwYWNlLm9ubGluZS9hdXRoL3JlYWxtcy9WaWRlb0NoYXRSZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiI1YTcwMDk1Mi04YmZmLTQ2Y2QtYTg1Yy00ODQ2YzA3MjRjYmMiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJjaGF0LWxvZ2luIiwic2Vzc2lvbl9zdGF0ZSI6ImZhZjkxOGVjLWVhZDQtNDc5YS1iNDU5LWE4YzQ4M2M3OWQ5NSIsImFjciI6IjEiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsInVzZXIiLCJkZWZhdWx0LXJvbGVzLXZpZGVvY2hhdHJlYWxtIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiZmFmOTE4ZWMtZWFkNC00NzlhLWI0NTktYThjNDgzYzc5ZDk1IiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJyb21hbjMifQ.kw-Bhouo_SECFM-A7J2hbcqPgTOPuU5HLfOzeRWs3EDewuUJ87bHzh-zJ4Zf6DReqRKDwzILrloCHrVav0TWhzMVnj_Ynb3EK2AmnEdJLeW2xqdghkYm7G8V9gytiFu9f0lSRL1F40mlK5V4sQV8q6clyh15kXrk3x65ra-mtwGQSnWZJTP1YnMCDsNzGSN5qiCLt8hH1DRCTaP-mw4nPs0WJqSTTm1gY61t5nbnV0-wCZ4uPIDolaSuARMFvCBdMR2FKhlEXpQuug2b2H5SAixwLM-abeBRoudAFpSfd2Cl8VV90HhB8IVz5J6vxFpLe2CBLj1INHjdf2BT0b9GCw'
		
		function createRoomRedirect() {
			if (!fname.value) {
				window.alert("Fill username field");
				return
			}

			var xhr = new XMLHttpRequest();
			xhr.open("POST", SERVER_HTTP_URL + "/rooms", true);
			xhr.onreadystatechange = () => {
				if (xhr.readyState == XMLHttpRequest.DONE) {
					console.log("Response: " + xhr.response);
					location.href = "/create-room?userId=" + fname.value + "&roomId=" + JSON.parse(xhr.response).id
				}
			}
			document.cookie='access_token_' + fname.value + '=' + tokens[fname.value]
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.setRequestHeader('Authorization', 'Bearer ' + tokens[fname.value])
			xhr.send(JSON.stringify({
				publicRoom: true
			}))
		}

		function joinRoom() {
			if (!fname.value || !froom.value) {
				window.alert("Fill username and link field");
				return
			}

			document.cookie='access_token_' + fname.value + '=' + tokens[fname.value]
			// check room exists
			location.href = "/join-room/" + froom.value + "?userId=" + fname.value
		}
	</script>
</html>